{{block "todos" .}}
    {{if .Todos}}
        <form method="POST" action="/todo/update">
            <ul id="todo-list">
            {{range $i, $e := .Todos}}
                <li>
                    <label>
                        <input
                            type="checkbox"
                            name="todo-{{$i}}"
                            {{if .Done}}checked="checked"{{end}}
                        /> {{.Title}}
                    </label>
                </li>
            {{end}}
            </ul>
            <button type="submit">Update</button>
        </form>
    {{else}}
        <p>No todos in the list.</p>
    {{end}}

    <form method="POST" action="/todo/add">
        <input type="text" name="new-todo" placeholder="Enter new todo" />
        <button type="submit" name="add-new-todo">Add</button>
    </form>
{{end}}
